<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Categories</key>
	<array>
		<dict>
			<key>title</key>
			<string>სპორტი</string>
			<key>icon</key>
			<string>sports</string>
			<key>type</key>
			<string>Category</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>phone</string>
			<key>type</key>
			<string>Category</string>
		</dict>
		<dict>
			<key>title</key>
			<string>კომუნალური გადახდები</string>
			<key>icon</key>
			<string>bulb</string>
			<key>type</key>
			<string>Category</string>
		</dict>
		<dict>
			<key>title</key>
			<string>სპორტი</string>
			<key>icon</key>
			<string>sports</string>
			<key>type</key>
			<string>Category</string>
		</dict>
		<dict>
			<key>title</key>
			<string>სპორტი</string>
			<key>icon</key>
			<string>sports</string>
			<key>type</key>
			<string>Category</string>
		</dict>
		<dict>
			<key>title</key>
			<string>სპორტი</string>
			<key>icon</key>
			<string>sports</string>
			<key>type</key>
			<string>Category</string>
		</dict>
		<dict>
			<key>title</key>
			<string>სპორტი</string>
			<key>icon</key>
			<string>sports</string>
			<key>type</key>
			<string>Category</string>
		</dict>
		<dict>
			<key>title</key>
			<string>სპორტი</string>
			<key>icon</key>
			<string>sports</string>
			<key>type</key>
			<string>Category</string>
		</dict>
		<dict>
			<key>title</key>
			<string>სპორტი</string>
			<key>icon</key>
			<string>sports</string>
			<key>type</key>
			<string>Category</string>
		</dict>
		<dict>
			<key>title</key>
			<string>სპორტი</string>
			<key>icon</key>
			<string>sports</string>
			<key>type</key>
			<string>Category</string>
		</dict>
		<dict>
			<key>title</key>
			<string>სპორტი</string>
			<key>icon</key>
			<string>sports</string>
			<key>type</key>
			<string>Category</string>
		</dict>
		<dict>
			<key>title</key>
			<string>სპორტი</string>
			<key>icon</key>
			<string>sports</string>
			<key>type</key>
			<string>Category</string>
		</dict>
		<dict>
			<key>title</key>
			<string>სპორტი</string>
			<key>icon</key>
			<string>sports</string>
			<key>type</key>
			<string>Category</string>
		</dict>
		<dict>
			<key>title</key>
			<string>სპორტი</string>
			<key>icon</key>
			<string>sports</string>
			<key>type</key>
			<string>Category</string>
		</dict>
		<dict>
			<key>title</key>
			<string>სპორტი</string>
			<key>icon</key>
			<string>sports</string>
			<key>type</key>
			<string>Category</string>
		</dict>
		<dict>
			<key>title</key>
			<string>სპორტი</string>
			<key>icon</key>
			<string>sports</string>
			<key>type</key>
			<string>Category</string>
		</dict>
		<dict>
			<key>title</key>
			<string>კომუნალური გადახდები</string>
			<key>icon</key>
			<string>bulb</string>
			<key>type</key>
			<string>Category</string>
		</dict>
		<dict>
			<key>title</key>
			<string>გართობა</string>
			<key>icon</key>
			<string>entertainment</string>
			<key>type</key>
			<string>Category</string>
		</dict>
		<dict>
			<key>title</key>
			<string>კომუნალური მომსახურება</string>
			<key>icon</key>
			<string>globe</string>
			<key>type</key>
			<string>Category</string>
		</dict>
		<dict>
			<key>title</key>
			<string>ბილეთები</string>
			<key>icon</key>
			<string>ticket</string>
			<key>type</key>
			<string>Category</string>
		</dict>
	</array>
	<key>Operations</key>
	<array>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>geocell</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>geocell</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>geocell</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>geocell</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>geocell</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>geocell</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>geocell</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>geocell</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>geocell</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>geocell</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>geocell</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>geocell</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>geocell</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>geocell</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>geocell</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>geocell</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>geocell</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>geocell</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>geocell</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>geocell</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>beeline</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>silknet</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>geocell</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>silknet</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>geocell</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>geocell</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>beeline</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>geocell</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>beeline</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>id</key>
			<string>123</string>
			<key>title</key>
			<string>გადარიცხვა</string>
			<key>amount</key>
			<string>15</string>
			<key>icon</key>
			<string>geocell</string>
		</dict>
	</array>
	<key>Favorites</key>
	<array>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>beeline</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>silknet</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>silknet</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>silknet</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Favorite</string>
		</dict>
	</array>
	<key>Templates</key>
	<array>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>silknet</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>beeline</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>silknet</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>beeline</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>beeline</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>beeline</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>geocell</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>beeline</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>silknet</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>silknet</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>silknet</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>silknet</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>silknet</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>silknet</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>silknet</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>silknet</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>silknet</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>silknet</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>silknet</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>silknet</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>silknet</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>silknet</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>silknet</string>
			<key>type</key>
			<string>Template</string>
		</dict>
		<dict>
			<key>title</key>
			<string>მობილური კავშირი</string>
			<key>icon</key>
			<string>silknet</string>
			<key>type</key>
			<string>Template</string>
		</dict>
	</array>
</dict>
</plist>
